* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  color: #FFF5EE;
  opacity: 0.9;
  background-color: black;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  top: 0px;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  margin-left: 10px;
}

nav {
  display: flex;
  margin-right: 10px;
}

nav span {
  padding: 0 20px;
  text-decoration: underline;
}

a:link, a:visited {
    color: inherit;
}
.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  background-image: url(../Images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.mission-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100px;
  width: 1200px;
  text-align: center;
}

.tea-month {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 60px 0px;
}

.month-title {
  display: flex;
  flex-direction: column;
}

.month-title h2, .month-title p {
  padding: 10px;
}

.gallery {
  display: flex;
}

.gallery ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
}

.gallery ul li {
  margin: 15px;
}

.gallery ul li p {
  margin-top: 10px;
}

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 1200px;
  background-image: url(../Images/img-locations-background.jpg);
}

.all-locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location1, .location2, .location3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 0 20px;
}

.locations h2 {
  margin-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 1200px;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  margin-top: 15px;
}

#copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 30px 20px;
}

